<h1>New Bookmark</h1>
<div class="row">
  <div class="col-md-12">
    <%= form_for [@topic, @bookmark], html: {class: 'form-inline'} do |f| %>
      <%= render partial: 'form', locals: { f: f, topic: @bookmark.topic } %>
    <% end %>
  </div>
</div>
