<h1>New Bookmark</h1>
<div class="row">
  <div class="col-md-8">
    <!-- <div class="form-inline"> -->
      <% if @bookmark.errors.any? %>
        <div class="row">
          <div class="col-md-12">
            <div class="alert alert-danger">
              <%= @bookmark.errors.full_messages.first %>
            </div>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-md-12">
          <%= form_for [@topic, @bookmark], html: {class: 'form-inline'} do |f| %>
            <%= render partial: 'form', locals: { f: f, topic: @bookmark.topic } %>
          <% end %>
        </div>
      </div>
    <!-- </div> -->
  </div>
</div>
