<!DOCTYPE html>
 <html>
   <head>
     <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
   </head>
   <body>
     <h1>We couldn't add your topic "<%= @topic.title %>"</h1>
     <p>
       Please make sure not to leave the subject empty and submit it again!
     </p>
   </body>
 </html>
